*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#4facfe,#6c63ff);
}

.calculator{
    width:380px;
    background:#1f2937;
    padding:25px;
    border-radius:20px;
    box-shadow:0 15px 35px rgba(0,0,0,.3);
}

#display{
    width:100%;
    height:80px;
    border:none;
    outline:none;
    border-radius:15px;
    background:#ffffff;
    font-size:38px;
    text-align:right;
    padding:15px;
    margin-bottom:20px;
    color:#111827;
    font-weight:bold;
}

.buttons{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:15px;
}

.btn{
    height:70px;
    border:none;
    border-radius:15px;
    background:#f8fafc;
    font-size:24px;
    font-weight:600;
    cursor:pointer;
    transition:.3s;
}

.btn:hover{
    transform:translateY(-4px);
    box-shadow:0 8px 18px rgba(0,0,0,.25);
}

/* Clear */

.btn:nth-child(1){
    background:#ef4444;
    color:white;
}

/* Delete */

.btn:nth-child(2){
    background:#f59e0b;
    color:white;
}

/* Operators */

.btn:nth-child(3),
.btn:nth-child(4),
.btn:nth-child(8),
.btn:nth-child(12){
    background:#3b82f6;
    color:white;
}

/* Equal */

#equal{
    background:#22c55e;
    color:white;
}

/* Equal Hover */

#equal:hover{
    background:#16a34a;
}

/* Responsive */

@media(max-width:420px){

.calculator{
    width:95%;
}

.btn{
    height:60px;
    font-size:22px;
}

#display{
    height:70px;
    font-size:30px;
}

}